{% extends "layout.html" %}
{% block links %}
{% endblock %}

{% block body %}
<br><br><br>

<div class="row-fluid">
	
	<div class="btn-block"> 
		<a class="btn btn-large btn-block btn-primary" href="/choicepage" style="padding:10px;">Megabus Tracker</a>
 
	<br>
	<br>
		<a class="btn btn-large btn-block btn-primary" href="/plantrip" style="padding:10px;">Trip Planner</a><br>           
	</div>
	
	<!--
	<div class="btn-block">
		<a href="/plantrip" style="padding:10px;">
			<img width="300" height="300" src="static/images/chicago.JPG">
			Trip Planner
		</a>
	</div>
	/!-->
</div>
{% endblock %}

